<li><a href="sass.html"><i class="material-icons white-text">search</i></a></li>
<li><a href="badges.html"><i class="material-icons white-text">view_module</i></a></li>
<li><a href="collapsible.html"><i class="material-icons white-text">refresh</i></a></li>
<li><a href="mobile.html"><i class="material-icons white-text">more_vert</i></a></li>
<li>
    <a href="#modal_server" class="waves-effect waves-light modal-trigger"
        data-class="server.connected ?: btn-floating pulse red darken-4">
        <i class="material-icons white-text">
            {{ server.connected ? wifi_tethering : portable_wifi_off }}
        </i>
    </a>
</li>