@media (min-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }

    main .row,
    main .col {
        height: calc(100% - 10px);
    }

    main .card {
        width: 100%;
        height: 100%;
    }

    main .card .card-content {
        display: flex;
        flex-direction: column;
    }

    main .card .card-content {
        height: calc(100% - 103px);
    }

    main .card:not(:has(.card-tabs)) .card-content {
        height: calc(100% - 55px);
    }

    main .card .card-text {
        overflow: auto;
    }
}

nav {
    padding-left: 10px;
    box-shadow: initial;
}

nav .nav-content {
    display: flex;
    align-items: center;
}

nav .nav-content .nav-title {
    padding: 0 0 0 10px;
    font-weight: 100;
}

nav .nav-content a {
    padding: 0 10px 0 10px;
}

.card .card-content {
    padding: 12px 16px;
}

.page-footer {
    padding-top: 0;
}

footer .row {
    margin: 0;
}

footer .card {
    margin-bottom: 0;
}

.input-field {
    border: initial;
}

.card .card-action {
    display: flex;
    align-items: center;
    padding: 4px 6px 4px 6px;
}

input {
    margin: 0 !important;
}

.separator {
    height: 40px;
    width: 1px;
    border-left: 1px solid rgba(160, 160, 160, 0.2);
    margin: 0 10px 0 10px;
}

/*body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
*/
/*html,
body {
    background: #18243D !important;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
}

html,
body,
.card-title,
.card-body,
.navbar-brand {
    color: #bdd1f4;
}

.navbar {
    background: #18243D !important;
    color: #bdd1f4 !important;
}

.card {
    background: #252E49;
}*/