<div class="card-panel teal darken-3 z-depth-1 card-people">
    <div class="card-row">
        <div class="card-col">
            <div class="avatar teal darken-4 btn-floating cyan pulse">
                1º
            </div>
        </div>
        <div class="card-col" style="flex: 1;">
            <div class="card-row card-name">
                {{ candidates.#key.name }}&nbsp;
            </div>
            <div class="card-row">
                <div class="card-col" style="flex: 1;">
                    <div class="progress teal darken-1" style="margin: 0;">
                        <div class="determinate teal darken-4" style="width: 70%"></div>
                    </div>
                </div>
                <div class="card-col">
                    65%
                </div>
            </div>
            <div class="card-row" style="justify-content: flex-end;">
                <div class="card-col card-votes">
                    1452 votos
                </div>
                <a href="#" onclick="app.remove_candidate('#key');">APAGAR</a>
            </div>
        </div>
    </div>
</div>