html,
body {
  background: #531ea4;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  #app {
    height: 100%;
  }
}

.page-container {
  width: 400px;

  @media (max-width: 410px) {
    width: calc(100% - 50px);
  }

  @media (max-width: 300px) {
    width: 100%;
  }
}
