a {
  &:not(.dropdown-item) {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.link-white {
    color: #fff;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}
